.session{
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
.session-container{
    border-width: 2px;
    border-color: #0D004F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    gap: 0.5rem;
    width: 20rem;
}
.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.2rem;
}

.input-wrapper{
    flex-direction: row;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.input-wrapper .left{
    width: 45%;
    display: flex;
    /* justify-content: start; */
}

@media screen and (max-width:1024px) {
    .session-container{
        padding: 1rem;
    }
}